<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="insert_gazebo" params="prefix">
        <gazebo>
            <!-- ros2_control plugin for Gazebo -->
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find minibot_bringup)/config/minibot_controllers_gazebo.yaml</parameters>
                <ros>
                    <namespace></namespace>
                </ros>
            </plugin>
        </gazebo>

        <gazebo reference="${prefix}l_wheel">
            <mu1>200</mu1>
            <mu2>200</mu2>
            <kp>10000000.0</kp>
            <kd>1.0</kd>
        </gazebo>

        <gazebo reference="${prefix}r_wheel">
            <mu1>200</mu1>
            <mu2>200</mu2>
            <kp>10000000.0</kp>
            <kd>1.0</kd>
        </gazebo>

        <gazebo reference="${prefix}base_link">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
        </gazebo>

        <gazebo reference="laser_link">
            <sensor name="laser" type="ray">
                <pose>0 0 0 0 0 0</pose>
                <always_on>true</always_on>
                <update_rate>10</update_rate>
                <visualize>false</visualize>
                <topic>scan</topic>
                <gz_frame_id>laser_link</gz_frame_id>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.14159</min_angle>
                            <max_angle>3.14159</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.12</min>
                        <max>6.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
            </sensor>
        </gazebo>

        <gazebo reference="${prefix}camera_link">
            <sensor name="${prefix}camera" type="camera">
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>30.0</update_rate>
                <topic>camera/image_raw</topic>
                <gz_frame_id>camera_link</gz_frame_id>
                <camera name="${prefix}camera">
                    <camera_info_topic>camera/camera_info</camera_info_topic>
                    <pose>0 0 0 0 -1.5707 0</pose>
                    <horizontal_fov>1.08</horizontal_fov>
                    <image>
                        <width>1280</width>
                        <height>720</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </camera>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>